* {
    box-sizing: border-box;
}
div.cima {
    height: 500px;
    background-repeat: no-repeat;
    background-image: url("restaurant.jpeg");
    background-size: 100% 100%;
    border:1px solid black; 
    margin-bottom: 5px;
    position:relative;
    opacity: 1;
}
div.dinnerdash {
    font-size: 20px;
    width: 10%;
    /* margin: 5vh 0px 0px 5%; */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
    color: white;
}
.seuperfil{
    font-size:50px;
}
div.perfil {
    margin-left: 5%;
    margin-top: 40vh; 
    color: white;
    
    
}
.botoes{
    position: absolute;
    /* bottom:75%; */
    left:90%;
    top:30px;
}
button{
    color: white;
    background-color: transparent;
    border:1px transparent;
}
.container{
    height: 35vh;
    width: 100%;
}
.box1{
    width: 50%;
}
.box2{
    width: 50%;
}
form{
    /* padding-top: 10%; */
    padding-left: 10%;
}
input{
    width: 100%;
}

button.atualizar{
    width: 60%;
    height: 30px;
    margin-top:20px;
    background-color: #39cc6c;
}
.footer{
    position: relative;
    top:6px;
    font-size:20px;
}
